# Ignore all directories and files starting with .
.*/*
.*
# Except for .gitignore itself
!.gitignore

*.log*
custom_components/
secrets.yaml
#*.db*
testarea.js
temporary.yaml
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
zigbee.db
zigbee.db-shm
zigbee.db-wal
